#define IDM_FILE_EXIT		10001
#define IDM_HELP_ABOUT		10101
#define IDM_ACTION_LIST		10201
#define IDM_ACTION_AVERAGE	10202
#define IDM_ACTION_SORT		10203

MyMenu  MENU
BEGIN
	POPUP "&File"
  	BEGIN
    		MENUITEM "E&xit",IDM_FILE_EXIT
	END
	POPUP "&Action"
	BEGIN
			MENUITEM "A&verage",IDM_ACTION_AVERAGE
			MENUITEM "S&ort",IDM_ACTION_SORT
    		MENUITEM "L&ist",IDM_ACTION_LIST
    END
	POPUP "&Help"
	BEGIN
	    	MENUITEM "&About",IDM_HELP_ABOUT
	END
END
